/*
 * This is a manifest file...
 *
 *= require_self
 *= require_tree .
 */

@font-face {  
  font-family: "grand-hotel";  
  src: url(font_path("/assets/grand-hotel/GrandHotel-Regular.otf")) format("truetype");
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  font-family: "ostrich-sans";  
  src: url(font_path("/assets/ostrich-sans/ostrich-regular.ttf")) format("truetype");
  font-weight: normal;   
  font-style: normal;  
}

.background {
  background-color: #F53F0A;
  position: absolute;
  height: 100%;
  width: 100%;
}

a {
  color: #9F2603;

  &:hover {
  color: black;
  }
}