h1 {
  font-family: "grand-hotel";
  text-align: center;
  font-size: 138px;
  margin-top: 178px;
  margin-bottom: 29px;
  color: #FBA383;
}

p {
  font-family: "ostrich-sans";
  text-align: center;
  font-size: 34px;
  margin-bottom: 29px;
  font-weight: bold;
}

.show-title {
  margin-top: 55px;
  margin-bottom: 27px;
}

.cat-photo {
  max-height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kitty-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image:url(white-kitty.png);
  background-size:117px 107px;
  background-repeat:no-repeat;
  display:block;
  height:109px;
  width:119px;
  &:hover {
    background-image:url(orange-nose-kitty.png);

  }
}

.next-link {
  float: right;
}