h1 {
  font-family: "grand-hotel";
  text-align: center;
  font-size: 138px;
  margin-top: 178px;
  color: #FBA383;
}

p {
  font-family: "ostrich-sans";
  text-align: center;
  font-size: 34px;
  margin-top: -41px;
}
